In [1]:
import numpy as np
import pandas as pd

# Question 1.) Import the dataset, find its shape and the descriptive statistics for numerical columns.

In [2]:
df = pd.read_csv('RegularSeasonCompactResults.csv')
print(df.shape)
df.describe()

(145289, 8)

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

# Question 2.) With the Season being 1985, find the sum of Wscore.

In [3]:
s = df[df['Season'] == 1985]
s['Wscore'].sum()

279240

# Question 3.) Find the minimum and maximum Lscore for the season 2016.

In [4]:
m = df[df['Season'] == 2016]
print('Minimum Lscore : ', m['Lscore'].min())
print('Maximum Lscore : ', m['Lscore'].max())

Minimum Lscore :  25
Maximum Lscore :  108

# Question 4.) Find the variance and standard deviation of Lscore and Wscore for the Season 1986.

In [5]:
a = df[df['Season'] == 1986]
a[['Lscore', 'Wscore']].var()

Lscore    111.121612
Wscore    154.780967
dtype: float64

In [6]:
a[['Lscore', 'Wscore']].std()

Lscore    10.541424
Wscore    12.441100
dtype: float64

# Question 5.) Find the count of Wteam for the Season 1989.

In [7]:
w = df[df['Season'] == 1989]
w['Wteam'].count()

4037